*.class

# Mac specific
.DS_Store

# ignore all files in doc directory
/doc

# temporary files
*~

/bin/
/lib/

/resources/swb1_dialogact_annot/scrubbed

# Eclipse things
.classpath
.project
.metadata

# git
.gitconfig
/nbproject/private/
/build/