*.class

# Mac specific
.DS_Store
__pycache__

# ignore all files in doc directory
/doc

# temporary files
*~

/bin/

/lib/*
!/lib/requests/
/lib/requests/*}
!/lib/requests/requests/
~/lib/requests/requests/*.class
#!/lib/requests/*

lincoln.json

/resources/swb1_dialogact_annot/scrubbed

# Eclipse things
.classpath
.project
.metadata

# git
.gitconfig
/nbproject/private/
/build/

# qlearner config file
/models/qlearner
